.item-wrapper {
    display: flex;
    height:100%;
    width: 100%;
    text-align:center;
    /* padding: 0 200px; */
    margin-top: 40px;
    margin-bottom: 20px;
}
.items{
    padding: 0;
    text-align: center;
    margin:0 auto;
}
.item {
    height: 350px;
    width: 220px;
    text-decoration: none;
    text-align: center;
}

